.blogCardList {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  /* background: #201c29; */
  /* background: #ff7300; */
  background: #ffa75e;
}

.blogCardList::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.blogCardList::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.9),
    inset -2px -2px 2px rgba(255, 255, 255, 0.9);
  /* box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25); */
}

.blogCardList::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #a5a3ab, #c4bbd8 1px, #fe5e15 0, #fe5e15);
  /* background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d); */
}
