.glassCard {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin: 20px;
}

.glassCard:hover {
  /* box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0 8px 30px rgba(0, 160, 227, 0.9); */
  box-shadow: 0 8px 30px rgba(254, 94, 21, 0.9);
}
